<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Forgot Password</title>
<th:block th:include="/fragments/fragment :: head"></th:block>
<script type="text/javascript"
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"
	th:src="@{/js/jquery-3.4.1.min.js}"></script>

<script type="text/javascript">
	function onLoad() {

		$("#password").keyup(checkPasswordsMatch);
		$("#repeatPassword").keyup(checkPasswordsMatch);

		$("form").submit(submitForm);

	}

	function submitForm() {
		var password = $("#password").val();
		var repeatPassword = $("#repeatPassword").val();

		if (password != repeatPassword) {
			alert("Passwords do not match!");
			return false;
		} else {
			return true;
		}
	}

	function checkPasswordsMatch() {
		var password = $("#password").val();
		var repeatPassword = $("#repeatPassword").val();

		if (password.length > 5 || repeatPassword.length > 5) {
			if (password == repeatPassword) {
				$("#message").text("Passwords match!");
				$("#message").addClass("valid");
				$("#message").removeClass("error");
			} else {
				$("#message").text("Passwords do not match!");
				$("#message").addClass("error");
				$("#message").removeClass("valid");
			}
		}

	}

	$(document).ready(onLoad);
</script>
</head>
<body class="main">

	<img class="forgotPasswordImage"
		src="../static/images/Zesium-logo_sign_up.png"
		th:src="@{/images/Zesium-logo_sign_up.png}">

	<form action="#" th:action="@{/passwordRecovered}" th:object="${user}"
		method="post">
		<div class="forgotDiv">
			<input id="right" type="text" class="form" th:field="*{email}"
				th:placeholder="#{email}" /> <br> <span class="error"
				th:text="${email}">Email Error</span> <input id="password"
				type="password" class="form" th:field="*{password}"
				th:placeholder="#{password}" /> <span class="error"
				th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password
				Error</span> <input id="repeatPassword" type="password" class="form"
				th:placeholder="#{repeatPassword}" /> <span id="message"></span>
		</div>
		<br> <br>
		<div>
			<input class="submitButton" type="submit" th:value="#{submit}"
				value="SUBMIT">
		</div>
	</form>

	<br>
	<p th:text="#{homeLink}">Home Link:</p>
	<a th:text="#{homePage}" th:href="@{/}">Home</a>

	<br>
	<p th:text="#{loginLink}">Login Link:</p>
	<a th:text="#{login}" th:href="@{/login}">Login Page</a>

</body>
</html>